:host ::ng-deep {
  .selected {
      color: rgba(0,0,0,0.74);
      background: rgba(0,0,0,0.14);
  }

  .paginator {
      float: right;
  }

  .toolbar-row {
    padding-top: 10px;
    .igx-input-group,
    .igx-input-group--focused {
      .igx-input-group__bundle {
        transition: background 500ms ease-in-out;
        padding-top: 0px;
      }

      max-width: 30%;
      min-width: 20%;
      font-size: 13px;
      overflow: hidden;
      flex: 1 1 auto;

      igx-icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .toolbar-row {
      padding-top: 5px;
      .igx-input-group,
      .igx-input-group--focused {
        min-width: 100%;
      }
    }
  }
}