<div class="poc-wrapper">
  <app-list-pager #pager (pagingDone)="refreshData($event)" (filteringDone)="refreshData($event)"></app-list-pager>

  <igx-list #loadsList [isLoading]="isLoading">
    <igx-list-item #item *ngFor="let load of data;">
      <div class="list-template">
        <!-- Order # -->
        <div class="section list-template__orders" [ngClass]="{'available': load['isReviewed']}">
          <div>
            <span><strong>LOB</strong></span>
            <span><strong>Order #:</strong> {{ load.alternateNumber }}</span>
            <span><strong>{{ load['equipmentType'] | uppercase }}</strong></span>
          </div>
          <div class="text-align">
            <span class="list-template__availability">{{ load['isReviewed'] ? "Available" : "Reviewed" }}</span>
            <strong class="list-template__pickup-time">Pick up Time in</strong>
            <div class="alert">
              <igx-icon class="clock-icon" name="access_time"></igx-icon>
              <div>00:00</div>
            </div>

          </div>
        </div>

        <div class="main-section">
          <div class="location-table">
            <!-- Locations addresses -->
            <div class="section list-template__locations">

              <div class="list-template__locations-title"><strong>Customer:</strong> Customer Name</div>

                <div class="list-template__locations-addresses">
                  <div class="list-template__locations-timeline">
                  <span class="list-template__locations-address-icon">
                    <i class="material-icons">location_on</i>
                  </span>
                    <div>
                      <div>{{ load['origin']['locationAddress1'] }}, {{ load['origin']['cityName'] }}, {{ load['origin']['stateCode'] }}, {{ load['origin']['zipCode'] }}</div>
                      <div>Pick Up: {{ formatDate(load['origin']['scheduledArrivalEarly']) }}</div>
                    </div>
                  </div>

                  <div class="list-template__locations-timeline">
                    <span class="list-template__locations-address-icon">
                      <i class="material-icons">location_on</i>
                    </span>
                    <div>
                      <div>{{ load['destination']['locationAddress1'] }}, {{ load['destination']['cityName'] }}, {{ load['destination']['stateCode'] }}, {{ load['destination']['zipCode'] }}</div>
                      <div>Delivery: {{ formatDate(load['destination']['scheduledArrivalEarly']) }}</div>
                    </div>
                  </div>
                </div>

              <div class="list-template__locations-labels">
                <span class="list-template__locations-label" *ngFor="let label of [1, 2, 3, 4, 5, 6]; let i = index">label</span>
              </div>

            </div>

            <table class="section list-template__table">
              <tr>
                <th>Buy it now</th>
                <th>label</th>
                <th>label</th>
              </tr>

              <tr>
                <td>{{ load['dmpRate'] | currency }}</td>
                <td><strong>Information</strong></td>
                <td><strong>Information</strong></td>
              </tr>

              <tr>
                <td><strong>Information</strong></td>
                <td><strong>Information</strong></td>
                <td><strong>Information</strong></td>
              </tr>
            </table>
          </div>

          <!-- Action buttons -->
          <div class="section list-template__actions">
            <div class="btn-wrap">
              <div igxButton="flat" class="action place">PLACE BID</div>
              <div igxButton="raised" class="action buy">BUY IT NOW</div>
            </div>
            <igx-checkbox>Compare</igx-checkbox>
          </div>
        </div>

        <!-- View buttons -->
        <div class="section list-template__views">
          <span igxButton="flat" class="action">DETAIL VIEW</span>
          <span igxButton="flat" class="action">EXPAND VIEW</span>
          <span igxButton="flat" class="action">QUICK VIEW</span>
        </div>
      </div>
    </igx-list-item>

    <!-- Empty list template -->
    <ng-template igxEmptyList>
      <div class="text-align">No data</div>
    </ng-template>

    <!-- Data loading template -->
    <ng-template igxDataLoading>
      <div class="text-align"><span>Loading data...</span></div>
    </ng-template>
  </igx-list>
</div>
