@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css");

@import '~igniteui-angular/lib/core/styles/themes/index';
@import '~igniteui-angular/lib/core/styles/themes/utilities';

:host ::ng-deep {
  $grey: grey;
  
  .sample-wrapper {
    width: 80%;
    height: 100%;
    margin: 1px;
    padding: 20px;
    
    div.list-wrapper {
      background: white;
      width: 100%;
      color: $grey;
      padding: 16px 24px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.26), 0 2px 2px 0 rgba(0,0,0,.12), 2px 3px 1px -2px rgba(0,0,0,.08);
      border-radius: 2px;
    } 
  }

  .list-container{
    padding-top: 10px;
    font-size: 0.9em;
  }

  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 24px;
    height: 100%;
  }

  .item {
    display: grid;
    grid-row-gap: 3px;
    span.action {
      border: none;
      text-align: center;
      font-weight: 600;
      cursor: pointer;
      color: dodgerblue;
    }
    span.place {
      color: black;
      border: 1px solid lightgrey;
    }
    span.buy {
      color: white;
      background-color: black;
      border: 1px solid lightgrey;
    }
  }

  .locations{
    display: flex;
  }

  .location-label{
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
  }

  div.item.orderid-item{
    text-align: center;
  }

  .address-cell {
    align-items: center;
    width: 700px;
  }

  .availability-button {
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .available{
    .availability-button {
      background-color: #4CAF50;
    }
  }
}