<div class="sample-wrapper">
    <div class="list-wrapper">

        <app-list-pager #pager (pagingDone)="refreshData($event)" (filteringDone)="refreshData($event)"></app-list-pager>

        <div class="list-container">
          <igx-list #loadsList [isLoading]="isLoading">
              <igx-list-item #item *ngFor="let load of data;">
                  <div class="item-container">
                      
                      <div class="item orderid-item" [ngClass]="{'available': load['isReviewed']}">
                          <span><strong>Order #:</strong> {{ load.alternateNumber }}</span>
                          <span><strong>{{ load['equipmentType'] | uppercase }}</strong></span>
                          <span class="availabilityButton">{{ load['isReviewed'] ? "Available" : "Reviewed" }}</span>
                      </div>
    
                      <div class="address-cell">
                          <igx-icon name="location_on" color="#0375be"></igx-icon>
                          <div class="item">
                              <span><strong>{{ load['origin']['locationAddress1'] }}, {{ load['origin']['cityName'] }}, {{ load['origin']['stateCode'] }}, {{ load['origin']['zipCode'] }}</strong></span>
                              <span>Pick Up: {{ formatDate(load['origin']['scheduledArrivalEarly']) }}</span>
                          </div>
                      </div>

                      <div class="address-cell">
                          <igx-icon name="location_on" color="dodgerblue"></igx-icon>
                          <div class="item">
                              <span><strong>{{ load['destination']['locationAddress1'] }}, {{ load['destination']['cityName'] }}, {{ load['destination']['stateCode'] }}, {{ load['destination']['zipCode'] }}</strong></span>
                              <span>Delivery: {{ formatDate(load['destination']['scheduledArrivalEarly']) }}</span>
                          </div>
                      </div>

                      <div class="item">
                          <span>Buy it now</span>
                          <span><strong>{{ load['dmpRate'] | currency }}</strong></span>
                      </div>

                      <div class="item">
                          <button igxButton="flat" igxButtonColor="black" igxRipple igxButtonBackground="white" [disabled]="!load['isEligibleforPlaceBid']">PLACE BID</button>
                          <button igxButton="flat" igxButtonColor="white" igxButtonBackground="black" [disabled]="!load['isEligibleforBuyitNow']">BUY IT NOW</button>
                          <igx-checkbox>Compare</igx-checkbox>
                      </div>

                      <div class="item">
                        <button igxButton="flat" igxButtonColor="dodgerblue" igxButtonBackground="white" class="accordion" (click)="togglePanel($event, cell.row.rowData['alternateNumber'])">DETAIL VIEW</button>       
                        <button igxButton="flat" igxButtonColor="dodgerblue" igxButtonBackground="white" class="accordion" (click)="togglePanel($event, cell.row.rowData['alternateNumber'])">EXPAND VIEW</button>       
                        <button igxButton="flat" igxButtonColor="dodgerblue" igxButtonBackground="white" class="accordion" (click)="togglePanel($event, cell.row.rowData['alternateNumber'])">QUICK VIEW</button>       
                      </div>
                      
                  </div>
              </igx-list-item>
              <ng-template igxEmptyList>
                  <div class="center">No data</div>
              </ng-template>
              <ng-template igxDataLoading>
                  <div class="center"><span>Loading data...</span></div>
              </ng-template>
          </igx-list>
        </div>
    </div>

</div>
