:host ::ng-deep {
  
  .sample-wrapper {
    width: 90%;
    height: 100%;
    margin: 1px;
    padding: 20px;
    
    div.list-wrapper {
      background: white;
      padding: 16px 24px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.26), 0 2px 2px 0 rgba(0,0,0,.12), 2px 3px 1px -2px rgba(0,0,0,.08);
      border-radius: 2px;
    } 
  }

  .list-container {
    padding-top: 10px;
    font-size: 0.9em;
  }

  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orders-container {
    text-align: center;
  }

  .orders-container, .view-buttons-container {
    display: grid;
    grid-row-gap: 3px;
  }

  .locations-container {
    align-items: center;
    width: 700px;
  }

  .locations {
    display: flex;
    .location-item {
      width: 400px;
      display: grid;
    }
    igx-icon {
      vertical-align: -webkit-baseline-middle;
    }
    .icon {
      width: 2.5em;
      height: 2.5em;
      border-radius: 24px;
      text-align: center;
    }
    .icon:nth-child(n + 1) {
      background-color: #0375be;
    }
    .icon:nth-child(1n + 2) {
      background-color: dodgerBlue;
    }
  }

  .location-labels-container {
    display: grid;
    width: 375px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 10px;
    grid-template-rows: 20px;
    padding-top: 10px;
  }

  .location-label {
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;
    display: table;
    align-items: center;
    line-height: 1em;
  }

  .labels-container {
    display: contents;
    div {
      display: grid;
      grid-template-rows: 15px;
    }
  }

  .action-items-container {
    display: grid;
    grid-row-gap: 3px;
  }

  span.action {
    border: none;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    color: dodgerblue;
  }
  span.place {
    color: black;
    border: 1px solid lightgrey;
  }
  span.buy {
    color: white;
    background-color: black;
  }

  .availability-button {
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .available{
    .availability-button {
      background-color: #4CAF50;
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 24px;
    height: 100%;
  }

  .customer-title {
    font-size: 1.2em;
  }
  
  @media screen and (max-width: 375px) {
    .sample-wrapper {
      width: 100%;
      padding: 0px;

      div.list-wrapper {
        padding: 0px;
      } 
    }

    .item-container {
      display: grid;
      grid-row-gap: 15px;
    }

    .igx-list__item-content {
      padding: 0;
    }

    .orders-container {
      display: grid;
      grid-template-columns: 265px 110px;
      grid-template-rows: 30px;
      grid-template-rows: repeat(3, 25px);
      grid-row-gap: 0px;
      text-align: left;
      .order-item-1 { 
        grid-column-start: 1; 
        grid-row-start: 1; 
      }
      .order-item-2 { 
        grid-column-start: 1; 
        grid-row-start: 2; 
      }
      .order-item-3 { 
        grid-column-start: 1; 
        grid-row-start: 3; 
      }
      span:nth-child(1n + 4) {
        text-align: center;
      }
    }

    .locations {
      display: grid;
      width: 375px;
      padding: 5px 10px;
      grid-column-gap: 10px;
      .igx-icon:first-child { 
        grid-column-start: 1; 
        grid-row-start: 1;
      }
      .location-item:first-child { 
        grid-column-start: 2; 
        grid-row-start: 1; 
      }

      .igx-icon:nth-child(2) { 
        grid-column-start:2; 
        grid-row-start: 1; 
      }
      .location-item:nth-child(2) { 
        grid-column-start: 2;
        grid-row-start: 1; 
      }
      .location-item {
        span {
          width: 50%;
        }
      }
    }

    .labels-container {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      width: 375px;
    }

    .action-items-container {
      width: 375px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
    }

    .view-buttons-container {
      display: none;
    }

    .igx-list__item-base {
      padding: 10px 0px;
      border-bottom: 1px solid lightgrey;
    }
  }
}